body {
  font-family : Arial;
}

.center {
  display: flex;
  flex-direction : column;
  width:250px;
  margin:100px auto;
  gap:10px;
}

.layout {
  display: flex;
}

.sidebar {
  width:250px;
  padding:10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
  padding:10px;
}

.card {
  border : 1px solid #ccc;
  padding:10px;
}

.navbar {
  padding :10px;
  background:#ccc;
}